# SPDX-License-Identifier: MIT
# Copyright (C) 2025 Andreas Krüger

# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
notes.txt
.venv
.DS_Store
sync.sh
