name: Dependabot Auto Merge

on:
  pull_request:
    types:
      - opened
      - labeled

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    name: Enable Auto-Merge for Dependabot
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Enable auto-merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
