name: Secrets Scan

on:
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 5 * * *'

jobs:
  scan-secrets:
    name: Secrets Scan (TruffleHog)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@main
        with:
          scanArguments: --only-verified
